
@{
    ViewBag.Title = "Login";
}

<head>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css">

</head>
<body>
    <img src="~/Images/joolelogo.PNG"/>
    <div class="openpopup">Sign Up</div>
    <h3>Building Product Selection Platform</h3>
    <form>
        <input type="text" placeholder="Username or Email" class="textbox"/><br />
        <input type="password" placeholder="password" class="textbox"/><br />
        <input type="submit" value="Log In" />
    </form>
</body>

