<body>
    <div class="popup" style:"display:none">
        <form>
            <p>Register as User</p>
            <hr />
            <b>Image Preview</b><br />
            <b>Your Profile Pic</b><br />
            <input type="file" /><br />
            UserName:<input type="text" placeholder="User Name" /><br />
            Email Address:<input type="email" placeholder="Email Id" /><br />
            Password:<input type="password" placeholder="Password" /><br />
            Confirm Password:<input type="password" placeholder="Password" /><br />
        </form>
    </div>
</body>
