<header class="searchbar">
    <img src="@Url.Content("~/Images/joolelogo.png")" />
    <div>
        <form>
            <b>Search for products:</b>
            <input type="text" name="searchString" />
            <input class="btn btn-primary" type="submit" value="Search!" />
        </form>
    </div>
</header>