body {
    margin: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
}

.filter-display {
    width: 30%;
    background-color: #F8F8F8;
}

#search, #productType, #modelYear, #technicalSpecifications, #sliders {
    border: 1px solid grey;
    padding: 10px 0px;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn {
    background-color: #5BC0DE;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    font-size: medium;
    cursor: default;
}


.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container input{
    display: flex;
    text-align: center;
    background-color: white;
    padding: 2px;
    width: 40px;
    margin: 0px 15px;
    border: 0;
}

.slider {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ui-slider-handle {
    border-radius: 50%;
    width: 1em !important;
    height: 1em !important;
}

#Category{
    padding-left: 10px;
}

.product-display{
    width: 70%;
}

#products-display {
    display: flex;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid grey;
    width: 30%;
}

.product p{
    margin: 10px 0;
}

.bold{
    margin: 5px 0 0 0 !important;
}

.airflow{
    margin-top: 25px !important;
}

.product div{
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-add {
    background-color: #337AB7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}