body {
    background: rgb(0,118,166);
    background: linear-gradient(180deg, rgb(39,113,161) 0%, rgba(255,255,255,1) 100%);
    height: 700px;
    background-repeat: no-repeat;
}

img {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

#search {
    margin-top: 20px;
    text-align: center;
}

select {
    background-color: rgb(0,118,166);
    height: 25px;
}

select option {
    background-color: white;
}

#searchInput {
    width: 350px;
    height: 25px;
}

.btn {
    background-color: rgb(0,118,166);
    color: white;
    border: none;
    width: 25px;
    height: 25px;
}
