@using Joole.Service
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "ProductsCompare";
}

<!-- Navigation Bar Start -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-between">
    <a class="navbar-header" href=""><img class="logo" src="joole.jpg" height="30" class="center"></a>
    <form class="form-inline justify-content-center" id="navBarSearchForm">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Category
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">dbo 1</a>
                    <a class="dropdown-item" href="#">dbo 2</a>
                    <a class="dropdown-item" href="#">dbo 3</a>
                    <a class="dropdown-item" href="#">dbo 4</a>
                </div>
            </li>
        </ul>

        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info my-2 my-sm-0" type="submit">
            Search
        </button>

    </form>
    </div>
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropwdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <img src="profile.jpg" alt="profilepic">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">dbo 1</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation Bar ends -->
<br>
<br>
<br>
<br>

<div class="container">
    <table class="table table-bordered table-image table-md">
        @foreach (var item in Model)
        {

        <thead>
            <tr>
                <td class="w-25">
                </td>
                <td class="w-25">
                    <img src="joole.jpg" class="img-fluid img-thumbnail">
                </td>
                <td class="w-25">
                    <img src="joole.jpg" class="img-fluid img-thumbnail">
                </td>
                <td class="w-25">
                    <img src="joole.jpg" class="img-fluid img-thumbnail">
                </td>
            </tr>
        </thead>
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="4">DESCRIPTION</th>
            </tr>
        </thead>
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="row">dbo1</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo2</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">Model</th>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="4">TYPE</th>
            </tr>
            <tr>
                <th scope="row">dbo4</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo5</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo6</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo7</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo8</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
            <tr>
                <th scope="row">dbo9</th>
                <td>dbo</td>
                <td>dbo</td>
                <td>dbo</td>
            </tr>
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="4">TECHNICAL SPECIFACTIONS</th>
            </tr>
            </tbody>
        }
    </table>
</div>


